### Agora vamos trabalhar com data e hora com o pandas

In [24]:
import datetime as dt
import pandas as pd
from pandas_datareader import data

In [2]:
#O objeto de tempo mais comum é o Timestamp, que conta com data e hora

#Para criar um objeto Timestamp, o pandas é capaz de entender diveras sintaxes

#A Data deve ser inserida com aspas

pd.Timestamp('10-1-2000')
pd.Timestamp('15/3/2010')
pd.Timestamp('2000-1-3')
pd.Timestamp('15, 2, 2003')

#Quando não informamos o horário do Timestamp, o padrão será meia noite

Timestamp('2003-02-15 00:00:00')

In [3]:
#Vamos criar uma lista com várias datas

datas = ['2020-3-12', '2001-9-11', '1822-11-15']

In [4]:
#Para transformar uma lista de datas do python em uma lista de datas do pandas:

datas = pd.DatetimeIndex(datas)

In [5]:
#Podemos usar essas datas como índices de séries do pandas

valores = [100, 200, 300]
pd.Series(data = valores, index = datas)

2020-03-12    100
2001-09-11    200
1822-11-15    300
dtype: int64

In [6]:
nascimento = dt.datetime(1998, 6, 22, 7, 20)

In [7]:
pd.to_datetime(nascimento)

Timestamp('1998-06-22 07:20:00')

### Como funcionam os Data Ranges?

Um data range é tem data de início e fim, além de poder ser dividido em períodos.
A ideia é ter uma lista com valores de datas a partir de determinado valor até outro

In [8]:
#Para criar um data range precisamos informar uma data de início e fim

ano_2022 = pd.date_range(start = '2022-01-01', end = '2022-12-31')
ano_2022

#O data range cria uma lista com diversos timestamps, podendo ser acessados um a um ano_2022[1]

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [9]:
#O parâmetro de frequência é interessante, pois com ele podemos definir como os timestamps serão divididos

pd.date_range('01/01/2022', '30/06/2022', freq = '2D') #Primeiro semestre com frequência de 2 dias
pd.date_range('01/01/2022', '30/06/2022', freq = 'W') #Primeiro semestre com frequência de 1 semana
#A frequencia semanal padrão é contabilizada pelos domingos, mas podemos alterar isso
pd.date_range('01/01/2022', '30/06/2022', freq = 'W-TUE') #Primeiro semestre, com frequência semanal, mas contabilizado pelas terças-feiras
pd.date_range('01/01/2022', '30/06/2022', freq = 'B') #Apenas dias úteis do primeiro semestre
pd.date_range('01/01/2022', '30/06/2022', freq = '6H') #A frequencia pode ser definida por hora também. 1º sem separado a cada 6 horas
pd.date_range('01/01/2022', '30/06/2022', freq = 'M') #Primeiro semestre com frequência mensal. Este comando retorna o último dia de cada mês
pd.date_range('01/01/2022', '30/06/2022', freq = 'MS') #Retorna o range mensal, considerando o primeiro dia de cada mês
pd.date_range('01/01/2022', '30/06/2070', freq = 'A') #Similarmente podemos criar um range considerando o último dia de cada ano

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31', '2037-12-31',
               '2038-12-31', '2039-12-31', '2040-12-31', '2041-12-31',
               '2042-12-31', '2043-12-31', '2044-12-31', '2045-12-31',
               '2046-12-31', '2047-12-31', '2048-12-31', '2049-12-31',
               '2050-12-31', '2051-12-31', '2052-12-31', '2053-12-31',
               '2054-12-31', '2055-12-31', '2056-12-31', '2057-12-31',
               '2058-12-31', '2059-12-31', '2060-12-31', '2061-12-31',
               '2062-12-31', '2063-12-31', '2064-12-31', '2065-12-31',
               '2066-12-31', '2067-12-31', '2068-12-31', '2069-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [15]:
#Invés de usarmos start e end, vamos criar um Data Range com start e period
#Os períodos serão a quantidade de timestamps que queremos, na frequência informada

pd.date_range(start = '15/01/2022', periods = 25, freq = 'D')

# O output é uma lista de 25 dias a partir do dia informado

DatetimeIndex(['2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22',
               '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26',
               '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30',
               '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03',
               '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-07',
               '2022-02-08'],
              dtype='datetime64[ns]', freq='D')

In [16]:
#Alterando a frequência para 'B', teremos 25 dias úteis partir da data informada

pd.date_range(start = '15/01/2022', periods = 25, freq = 'B')

DatetimeIndex(['2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-24', '2022-01-25', '2022-01-26',
               '2022-01-27', '2022-01-28', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-07',
               '2022-02-08', '2022-02-09', '2022-02-10', '2022-02-11',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18'],
              dtype='datetime64[ns]', freq='B')

In [19]:
#Se o atributo freq for 'W', teremos a frequência semanal, sempre aos domingos
#Porém podemos alterar para 'W-WED', para considerar as Quartas-feiras, por exemplo

pd.date_range(start = '15/01/2022', periods = 25, freq = 'W')

DatetimeIndex(['2022-01-16', '2022-01-23', '2022-01-30', '2022-02-06',
               '2022-02-13', '2022-02-20', '2022-02-27', '2022-03-06',
               '2022-03-13', '2022-03-20', '2022-03-27', '2022-04-03',
               '2022-04-10', '2022-04-17', '2022-04-24', '2022-05-01',
               '2022-05-08', '2022-05-15', '2022-05-22', '2022-05-29',
               '2022-06-05', '2022-06-12', '2022-06-19', '2022-06-26',
               '2022-07-03'],
              dtype='datetime64[ns]', freq='W-SUN')

In [23]:
#Similarmente, podemos criar Data Ranges usando apenas end e períodos

pd.date_range(end = '31/12/1999', periods = 10 , freq = 'D')

#O output trará os 9 dias anteriores e o dia informado.

#Outras frequências são aplicáveis, assim como os exemplos anteriores

DatetimeIndex(['1999-12-22', '1999-12-23', '1999-12-24', '1999-12-25',
               '1999-12-26', '1999-12-27', '1999-12-28', '1999-12-29',
               '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

### Vamos trabalhar com o Pandas Data Reader

In [48]:
#Vamos utilizar o Data Reader para pegar os preços do Bitcoin do site Yahoo Finance
#O range será de Janeiro de 2021 até hoje, então irei passar uma data futura, e teremos os dados atualizados

Bitcoin = data.DataReader(name = 'BTC-USD', data_source = 'yahoo', start = '01/01/2015', end = '31/12/2022')
Bitcoin.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-01,320.434998,314.002991,320.434998,314.248993,8036550.0,314.248993
2015-01-02,315.838989,313.565002,314.079010,315.032013,7860650.0,315.032013
2015-01-03,315.149994,281.082001,314.846008,281.082001,33054400.0,281.082001
2015-01-04,287.230011,257.612000,281.145996,264.195007,55629100.0,264.195007
2015-01-05,278.341003,265.084015,265.084015,274.473999,43962800.0,274.473999

In [43]:
#Mas como acessar os valores de uma data específica?
#Podemos fazer isso através dos métodos .loc[] e/ou .iloc[]

Bitcoin.loc['2021-10-14']
Bitcoin.iloc[100]

High         6.079055e+04
Low          5.928980e+04
Open         5.984623e+04
Close        6.020496e+04
Volume       4.628025e+10
Adj Close    6.020496e+04
Name: 2021-04-11 00:00:00, dtype: float64

In [60]:
#Agora vamos acessar um intervalo de datas

Bitcoin.loc['2021-01-01':'2021-02-15']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-01,29600.626953,28803.585938,28994.009766,29374.152344,4.073030e+10,29374.152344
2021-01-02,33155.117188,29091.181641,29376.455078,32127.267578,6.786542e+10,32127.267578
2021-01-03,34608.558594,32052.316406,32129.408203,32782.023438,7.866524e+10,32782.023438
2021-01-04,33440.218750,28722.755859,32810.949219,31971.914062,8.116348e+10,31971.914062
2021-01-05,34437.589844,30221.187500,31977.041016,33992.429688,6.754732e+10,33992.429688
2021-01-06,36879.699219,33514.035156,34013.613281,36824.363281,7.528943e+10,36824.363281
2021-01-07,40180.367188,36491.191406,36833.875000,39371.042969,8.476214e+10,39371.042969
2021-01-08,41946.738281,36838.636719,39381.765625,40797.609375,8.810752e+10,40797.609375
2021-01-09,41436.351562,38980.875000,40788.640625,40254.546875,6.198416e+10,40254.546875
2021-01-10,41420.191406,35984.628906,40254.218750,38356.441406,7.998075e+10,38356.441406
2021-01-11,38346.531250,30549.599609,38346.531250,35566.656250,1.233206e+11,35566.656250
2021-01-12,36568.527344,32697.976562,35516.359375,33922.960938,7.477328e+10,33922.960938
2021-01-13,37599.960938,32584.667969,33915.121094,37316.359375,6.936432e+10,37316.359375
2021-01-14,39966.406250,36868.562500,37325.109375,39187.328125,6.361599e+10,39187.328125
2021-01-15,39577.710938,34659.589844,39156.707031,36825.367188,6.776076e+10,36825.367188
2021-01-16,37864.367188,35633.554688,36821.648438,36178.140625,5.770619e+10,36178.140625
2021-01-17,36722.351562,34069.320312,36163.648438,35791.277344,5.235985e+10,35791.277344
2021-01-18,37299.285156,34883.843750,35792.238281,36630.074219,4.951170e+10,36630.074219
2021-01-19,37755.890625,36069.804688,36642.234375,36069.804688,5.724420e+10,36069.804688
2021-01-20,36378.328125,33570.476562,36050.113281,35547.750000,6.683457e+10,35547.750000
2021-01-21,35552.679688,30250.750000,35549.398438,30825.699219,7.564307e+10,30825.699219
2021-01-22,33811.851562,28953.373047,30817.625000,33005.761719,7.720727e+10,33005.761719
2021-01-23,33360.976562,31493.160156,32985.757812,32067.642578,4.835474e+10,32067.642578
2021-01-24,32944.007812,31106.685547,32064.376953,32289.378906,4.864383e+10,32289.378906
2021-01-25,34802.742188,32087.787109,32285.798828,32366.392578,5.989705e+10,32366.392578
2021-01-26,32794.550781,31030.265625,32358.613281,32569.849609,6.025542e+10,32569.849609
2021-01-27,32564.029297,29367.138672,32564.029297,30432.546875,6.257676e+10,30432.546875
2021-01-28,33858.312500,30023.207031,30441.041016,33466.097656,7.651716e+10,33466.097656
2021-01-29,38406.261719,32064.814453,34318.671875,34316.386719,1.178946e+11,34316.386719
2021-01-30,34834.707031,32940.187500,34295.933594,34269.523438,6.514183e+10,34269.523438
2021-01-31,34288.332031,32270.175781,34270.878906,33114.359375,5.275454e+10,33114.359375
2021-02-01,34638.214844,32384.228516,33114.578125,33537.175781,6.140040e+10,33537.175781
2021-02-02,35896.882812,33489.218750,33533.199219,35510.289062,6.308859e+10,35510.289062
2021-02-03,37480.187500,35443.984375,35510.820312,37472.089844,6.116682e+10,37472.089844
2021-02-04,38592.175781,36317.500000,37475.105469,36926.066406,6.883807e+10,36926.066406
2021-02-05,38225.906250,36658.761719,36931.546875,38144.308594,5.859807e+10,38144.308594
2021-02-06,40846.546875,38138.386719,38138.386719,39266.011719,7.132603e+10,39266.011719
2021-02-07,39621.835938,37446.152344,39250.191406,38903.441406,6.550064e+10,38903.441406
2021-02-08,46203.929688,38076.324219,38886.828125,46196.464844,1.014672e+11,46196.464844
2021-02-09,48003.722656,45166.960938,46184.992188,46481.105469,9.180985e+10,46481.105469
2021-02-10,47145.566406,43881.152344,46469.761719,44918.183594,8.730109e+10,44918.183594
2021-02-11,48463.468750,44187.761719,44898.710938,47909.332031,8.138891e+10,47909.332031
2021-02-12,48745.734375,46424.976562,47877.035156,47504.851562,7.655504e+10,47504.851562
2021-02-13,48047.746094,46392.281250,47491.203125,47105.515625,7.025046e+10,47105.515625
2021-02-14,49487.640625,47114.507812,47114.507812,48717.289062,7.124868e+10,48717.289062
2021-02-15,48875.570312,46347.476562,48696.535156,47945.058594,7.706990e+10,47945.058594

In [58]:
#Mas como acessar todos os preços do bitcoin no meu aniversário?

aniversarios = pd.date_range(start = '22/06/2015', periods = 6, freq = pd.DateOffset(years = 1))

Bitcoin.loc[aniversarios]

,High,Low,Open,Close,Volume,Adj Close
2015-06-22,247.917007,243.779007,243.968994,246.990005,1.769250e+07,246.990005
2016-06-22,678.669983,587.482971,665.914978,596.116028,2.663930e+08,596.116028
2017-06-22,2723.739990,2642.360107,2691.030029,2705.409912,1.097940e+09,2705.409912
2018-06-22,6747.080078,6006.600098,6737.879883,6083.689941,5.079810e+09,6083.689941
2019-06-22,11157.345703,10107.035156,10175.923828,10701.691406,2.999520e+10,10701.691406
2020-06-22,9655.073242,9296.872070,9300.915039,9648.717773,2.110401e+10,9648.717773

In [63]:
#Mas como somar e subtrair datas (somar dias, semanas, meses)
#Vamos tentar somar 5 dias a esta variável abaixo:

pd.Timestamp('2020/01/01') + 5

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [65]:
#O erro deve-se ao fato do Pandas não entender o que deverá ser somado.
#Para somar datas, precisamos usar DateOffsets

pd.Timestamp('2020/01/01') + pd.DateOffset(days = 5)

#O output será a data informada anteriormente + 5 dias

Timestamp('2020-01-06 00:00:00')

#### Como descobrir a distância entre duas datas?

In [71]:
meu_nascimento = pd.Timestamp('22/06/1998')
hoje = pd.Timestamp('06/01/2022')

In [74]:
hoje - meu_nascimento

Timedelta('8745 days 00:00:00')

In [76]:
#Wow! Estou vivo há vários dias
#Importante notar que o output trouxe um objeto chamado Timedelta
#Podemos criar um Timedelta manualmente

pd.Timedelta(days = 12, minutes = 15, seconds = 40)

Timedelta('12 days 00:15:40')

In [77]:
#Podemos somar ou subtrair esse Timedelta facilmente
#Vamos ver o timestamp de 12 dias, 15 minutos e 40 segundos após meu nascimento:

meu_nascimento + pd.Timedelta(days = 12, minutes = 15, seconds = 40)

Timestamp('1998-07-04 00:15:40')

In [87]:
#Agora vamos usar os Timedeltas num DataSet

ecommerce = pd.read_csv('ecommerce.csv', index_col = 'Order ID', parse_dates = ['Order Date', 'Ship Date'])

C:\Users\elise\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [88]:
ecommerce.head()

#A planilha consta com data da compra e data da entrega.
#Vamos ver a diferença entre essas datas

,Order Date,Ship Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region,Months
Order ID,,,,,,,,,,,,,,,,,,,,
AU-2015-1,2015-11-09,2015-11-17,8.0,First Class,Auto & Accessories,Car Media Players,$140.00,2,0.05,$46.00,$4.60,Medium,LS-001,Lane Daniels,Consumer,Brisbane,Queensland,Australia,Oceania,Nov
AU-2015-2,2015-06-30,2015-07-02,2.0,First Class,Auto & Accessories,Car Speakers,$211.00,3,0.03,$112.00,$11.20,Medium,IZ-002,Alvarado Kriz,Home Office,Berlin,Berlin,Germany,Central,Jun
AU-2015-3,2015-12-05,2015-12-13,8.0,First Class,Auto & Accessories,Car Body Covers,$117.00,5,0.01,$31.20,$3.10,Critical,EN-003,Moon Weien,Consumer,Porirua,Wellington,New Zealand,Oceania,Dec
AU-2015-4,2015-05-09,2015-05-16,7.0,First Class,Auto & Accessories,Car & Bike Care,$118.00,2,0.05,$26.20,$2.60,High,AN-004,Sanchez Bergman,Corporate,Kabul,Kabul,Afghanistan,Central Asia,May
AU-2015-5,2015-07-09,2015-07-18,9.0,First Class,Auto & Accessories,Tyre,$250.00,1,0.04,$160.00,$16.00,Critical,ON-005,Rowe Jackson,Corporate,Townsville,Queensland,Australia,Oceania,Jul

In [94]:
#Esta é a diferença entre a data do pedido e a data de entrega

ecommerce['Ship Date'] - ecommerce['Order Date']

#O output é uma lista de Timedeltas

#Vamos criar uma coluna para inserir o tempo de entrega

ecommerce['Delivery Time'] = ecommerce['Ship Date'] - ecommerce['Order Date']
ecommerce.head(5)

,Order Date,Ship Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Discount,Profit,...,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region,Months,Delivery Time
Order ID,,,,,,,,,,,,,,,,,,,,,
AU-2015-1,2015-11-09,2015-11-17,8.0,First Class,Auto & Accessories,Car Media Players,$140.00,2,0.05,$46.00,...,Medium,LS-001,Lane Daniels,Consumer,Brisbane,Queensland,Australia,Oceania,Nov,8 days
AU-2015-2,2015-06-30,2015-07-02,2.0,First Class,Auto & Accessories,Car Speakers,$211.00,3,0.03,$112.00,...,Medium,IZ-002,Alvarado Kriz,Home Office,Berlin,Berlin,Germany,Central,Jun,2 days
AU-2015-3,2015-12-05,2015-12-13,8.0,First Class,Auto & Accessories,Car Body Covers,$117.00,5,0.01,$31.20,...,Critical,EN-003,Moon Weien,Consumer,Porirua,Wellington,New Zealand,Oceania,Dec,8 days
AU-2015-4,2015-05-09,2015-05-16,7.0,First Class,Auto & Accessories,Car & Bike Care,$118.00,2,0.05,$26.20,...,High,AN-004,Sanchez Bergman,Corporate,Kabul,Kabul,Afghanistan,Central Asia,May,7 days
AU-2015-5,2015-07-09,2015-07-18,9.0,First Class,Auto & Accessories,Tyre,$250.00,1,0.04,$160.00,...,Critical,ON-005,Rowe Jackson,Corporate,Townsville,Queensland,Australia,Oceania,Jul,9 days

In [102]:
#Com esse novo dataframe, é possível fazer as análises convencionais

ecommerce['Delivery Time'].max() #Entrega mais demorada
ecommerce['Delivery Time'].min() #Entrega mais rápida
ecommerce['Delivery Time'].mean() #Tempo médio de entrega

Timedelta('5 days 04:51:24.170094952')